<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

{% include headcss.html %}

    </head>
    <body>

{% include header.html %}   

   
<div class="container">
    <div class="content">

<div class="row">

        <div class="col-md-8">
                {{ content }}
        </div>
        
<div class="col-md-4">

<h3>EDU 2.0</h3>

<p>
Here you can log into Brandt Lab at EDU2.0, a learning management system. To join, contact <a href="mailto:veronica@brandt.id.au">Veronica</a>.
</p>

<form name="form1" method="post" action="https://brandtlab.edu20.org/log_in/submit" target="_blank">
  
    
User ID:<br>
<input type="text" name="userid" id="userid" class="edu20_widget_border">
<br />
Password: <a href="http://brandtlab.edu20.org/log_in/forgot_password" target="_blank">(forgot?)</a><br>
<input type="password" name="password" id="password" class="edu20_widget_border"><br>
<input type="checkbox" name="remember" id="remember"> Remember me?
<br />
<button type="submit" value="Submit">Log in</button>


</div>
        
    </div> 


<div class="row">
<h1>Resources for sale</h1>
<div class="col-sm-4 col-lg-3">
<script data-selz-t="light" data-selz-a="modal" data-selz-ct="ffffff" data-selz-cb="374fa1" data-selz-w="http://selz.co/UmV5dA">
if (typeof _$elz === "undefined") { var _$elz = {}; }
if (typeof _$elz.w === "undefined") { 
_$elz.w = { e: document.createElement("script") }; 
_$elz.w.e.src = "https://selz.com/embed/widget"; 
document.body.appendChild(_$elz.w.e); }
</script>
<a href="http://selz.co/UmV5dA" target="_blank" class="_selz_nojs_link">Buy this on Selz</a>
<a href="https://selz.com" target="_blank" class="_selz_nojs_link">Sell digital downloads on Selz</a>  
    </div>
<div class="col-sm-4 col-lg-3">
<script data-selz-t="light" data-selz-a="modal" data-selz-ct="ffffff" data-selz-cb="374fa1" data-selz-w="http://selz.co/1rMKxAw">
if (typeof _$elz === "undefined") { var _$elz = {}; }
if (typeof _$elz.w === "undefined") { 
_$elz.w = { e: document.createElement("script") }; 
_$elz.w.e.src = "https://selz.com/embed/widget"; 
document.body.appendChild(_$elz.w.e); }
</script>
<a href="http://selz.co/1rMKxAw" target="_blank" class="_selz_nojs_link">Buy this on Selz</a>
<a href="https://selz.com" target="_blank" class="_selz_nojs_link">Sell digital downloads on Selz</a>  
</div>
</div>
</div>
</div>

<!--footer-->
{% include footer.html %}

    </body>
</html>
